<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style/style1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>@ViewBag.Title</title>
    <style>
        a {
            text-decoration: none;
            color: red;
        }
    </style>
</head>
<body style="background:#f7f7f7">
    <!--Header-->
    <div class="header_cus">
        <div class="banner">
            <img src="~/Content/images/banner.jpg" alt="My Image" style="width: 100%; object-fit: cover;">
        </div>

        <div>
            <div class="d-flex flex-row justify-content-around flex-wrap">
                <div class="p-3">
                    <a href="/">
                        <img src="~/Content/images/logo/logo-new.png" alt="Logo" />
                    </a>
                </div>
                <div class="p-3">
                    <form class="d-flex flex-row align-items-center flex-wrap mx-5 bg-white" style="border-radius:7px" action="/home/search">
                        <input type="search" class="form-control" style="width:400px;"
                               name="search" value="@ViewBag.Search" placeholder="Nhập tên sách..." />
                        <button type="submit" class="btn btn-link mx-1">
                            <img src="~/Content/images/logo/icons-magnifying-glass.png" alt="Logo" />
                        </button>
                    </form>
                </div>
                <div class="icon-cart p-3">
                    <a href="/Cart/Cart"><img src="~/Content/images/logo/cart-48.png" alt="Cart image" style="width: 100%; object-fit: cover;"></a>
                </div>
                <div class="p-3 category-items">
                    @if (Session["UserName"] != null)
                    {
                        <a class="text-decoration-none" href="#">Welcome @Session["UserName"]!</a>
                        <a class="mx-2 text-decoration-none" href="@Url.Action("Logout", "Users")">Đăng xuất</a>
                        <a class="mx-2 text-decoration-none" href="@Url.Action("ListOrderDetail", "ListOrder")">Danh sách đơn hàng</a>
                    }
                    else
                    {
                        <a class="text-decoration-none" href="@Url.Action("Login", "Users")">Đăng Nhập</a>
                        <a class="mx-2 text-decoration-none" href="@Url.Action("Register", "Users")">Đăng ký</a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom:5%">
        @RenderBody()
    </div>


    <!--Footer-->
    <footer class="footer">
        <div class="container" style="border-top:1px solid">
            <h3>NHÀ SÁCH TRỰC TUYẾN BOOKBUY.VN</h3>
            <div>
                <p>
                    <b>Mua sách online</b> tại nhà sách trực tuyến Bookbuy.vn
                    để được cập nhật nhanh nhất các tựa sách đủ thể loại với mức giảm 15 – 35% cùng nhiều ưu đãi,
                    quà tặng kèm. Qua nhiều năm, không chỉ là địa chỉ tin cậy để bạn <b>mua sách trực tuyến</b>,
                    Bookbuy còn có quà tặng, văn phòng phẩm, vật dụng gia đình,…với chất lượng đảm bảo,
                    chủng loại đa dạng, chế độ bảo hành đầy đủ và giá cả hợp lý từ hàng trăm thương hiệu uy
                    tín trong và ngoài nước. Đặc biệt, bạn có thể chọn những mẫu <span style="color:blueviolet">sổ tay handmade</span> hay nhiều món
                    <span style="color:blueviolet">quà tặng sinh nhật</span> độc đáo chỉ có tại Bookbuy.vn.
                </p>
                <p>
                    <b>Mua sách online</b> tại Bookbuy, bạn được tận hưởng chính sách hỗ trợ miễn phí đổi trả hàng, giao hàng nhanh – tận nơi – miễn phí*,
                    thanh toán linh hoạt - an toàn, đặc biệt giảm thêm trên giá bán khi sử dụng BBxu giúp bạn <b>mua sách online</b> giá 0đ!
                </p>
                <p>
                    Chỉ với 3 cú click chuột, chưa bao giờ trải nghiệm <b>mua sách online</b> lại dễ chịu và nhẹ nhàng như vậy. Còn chần chờ gì nữa,
                    đặt mua ngay những tựa <span style="color:blueviolet">sách hay</span> cùng hàng ngàn sản phẩm chất lượng khác tại Bookbuy.vn!
                </p>
            </div>
            <div class="d-flex justify-content-center">
                <img src="~/Content/images/logo/canh-cam-letter.png" alt="canh cam" style="margin-left:100px" />
                <h1 class="d-inline" style="margin-left:50px; margin-top:40px; color:orangered">Cảm ơn sự quan tâm của bạn</h1>
            </div>
            <div class="d-flex justify-content-end">
                <p>&copy;2023 <a class="text-decoration-none" href="https://bookbuy.vn/">bookbuy.vn</a> Website. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <script src="~/Content/Clients/js.js"></script>
    </>

</body>
</html>
