@model WebBanSach.Models.Category

@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    //if (Session["UserRole"] as string == "Admin")
    if (true)
    {
        <div class="grid__auto">
            <div class="flex-center">
                <div>
                    <h1 class="text-center">Thêm thể loại</h1>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @if (TempData["ErrorAddCateMessage"] != null)
                    {
                        <div class="alert alert-danger">@TempData["ErrorAddCateMessage"]</div>
                    }

                    else if (TempData["ErrorInputIsNull"] != null)
                    {
                        <div class="alert alert-danger">@TempData["ErrorInputIsNull"]</div>
                    }

                    <div class="form-floating">
                        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                        <label>Thể loại</label>
                    </div>

                    <div class="">
                        <input type="submit" value="Thêm" class="my-btn btn btn-info mt-3" />
                    </div>
                    <br />
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-danger text-center mt-4">Bạn ko có quyền truy cập</div>
    }
}




