@model IEnumerable<WebBanSach.Models.Category>

@{
    ViewBag.Title = "Quản lí thể loại";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*@if (Session["UserRole"] as string == "Admin")*@
@if (true)
{
    <h1 class="text__center">Quản lí thể loại</h1>
    <div class="grid__auto">

        @if (TempData["ErrorEditCateMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorEditCateMessage"]</div>
        }

        @if (TempData["SuccessDeleteCategory"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessDeleteCategory"]</div>
        }
        @if (TempData["SuccAddCateMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccAddCateMessage"]</div>
        }
        @if (TempData["SuccessEditCateMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessEditCateMessage"]</div>
        }
        <div>
            <a class="my-btn btn btn-info" href="@Url.Action("CreateCategory")">Thêm thể loại</a>
        </div>
        <hr />

        <table class="table table-bordered">
            <tr style="text-align:center">
                <th class="text__center">
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th class="text__center">Hành động</th>
            </tr>

            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td class="flex-center">
                            <div>
                                @Html.ActionLink("Sửa", "EditCategory", new { id = item.CategoryID }, new { @class = "my-btn btn btn-info", @style = "width:100px" })
                            </div>

                            <div style="margin-left:20px;">
                                @using (Html.BeginForm("DeleteCategory", "Category", new { id = item.CategoryID }, FormMethod.Post))
                                {
                                    <input style="width:100px; margin:5px;" type="submit" value="Xóa" class="my-btn btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa thể loại này?');" />
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2"> Chưa có thể loại </td>
                </tr>
            }

        </table>

    </div>
}
else
{
    <div class="text-danger text-center mt-4">Bạn ko có quyền truy cập</div>
}