@model WebBanSach.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{
    <div class="container w-50 p-3 border rounded bg-white">
        <h3 class="d-flex flex-row justify-content-around flex-wrap">Đăng nhập</h3>
        <div class="row mx-auto" style="width:45%">
            <div class="pb-1">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        @*@Html.LabelFor(temp => temp.Email)*@
                        @Html.TextBoxFor(temp => temp.Email, new { placeholder = "Email", @class = "form-control" })
                        @Html.ValidationMessageFor(temp => temp.Email)
                        <label for="floatingInput">Email</label>
                    </div>
                </div>
            </div>
            <div class="pb-1">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password" id="floatingInput" placeholder="Password">
                        <label for="floatingInput">Mật khẩu</label>
                        @*@Html.LabelFor(temp => temp.Password)
                            @Html.TextBoxFor(temp => temp.Password, new { placeholder = "Mật khẩu", @class = "form-control" })
                            @Html.ValidationMessageFor(temp => temp.Password)*@
                    </div>
                </div>
            </div>
        </div>
        <div class="text-danger text-center">
            @Html.ValidationSummary()
        </div>
        <div class="row mx-auto" style="width:45%">
            <div class="col-4"></div>
            <div class="col-5">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
            <div class="mx-5 my-2">Chưa có tài khoản? <a href="/Account/Register">Đăng ký</a></div>
        </div>
    </div>
}


